body{
    margin: 0px;
    font-family:tahoma;
}

div{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
}

p {
    margin: 10px auto 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

.secao-topo{
    background-color: #afddfb;
}

.secao-topo img{
    width:150px;
}

.secao-topo p{
    margin: 10px auto 25px auto;
    text-align:center;
    
}

.secao-topo a{
    border-bottom: 2px solid #1d1d1d;
    text-decoration:none;
    font-size:18px;
    color: #1d1d1d;
    margin: 0px 10px 0px 10px;
}
.secao-banner img{
    padding-top:0px;
    margin-top:50px;
}

.texto-negrito{
    font-weight:bold;
}

.texto-azul{
    color:#1c81c0;
}

.texto-amarelo{
    color:#fff81b;
}

h1{
    color:#1d1d1d;
    margin-bottom:5px;
}
h2{
    color:#1c81c0;
    margin-top:0px;
    font-weight:normal;
}

.secao-imovel img, .secao-corretores img{
    width:450px;
}

.secao-servico{
    background-color:#1d80c1;
}

.secao-servico p{
    color:#ffffff;
    line-height:42px;
    font-size:22px;
    text-align:center;
    width:700px;
}

.secao-servico ul{
    width:135px;
    margin: 40px auto 40px auto;
    color:#ffffff;
    line-height:42px;
    text-align:left;
    font-size:22px;
}

.secao-contato{
    background-color:#1d80c1;
}

.secao-contato p{
    color:#ffffff;
    background-color:black;
    padding: 15px;
    margin-top:30px;
    margin-bottom:30px;
}

.secao-contato dd{
    width:210px;
    margin:40px auto 40px auto;
    
}

.secao-contato dd{
    font-size:18px;
    margin-top:15px;
    text-align:center;
}

.secao-contato a{
    background-color:#ffffff;
    color:#1c81c0;
    padding: 2px 5px 2px 5px;
    border-radius:5px;

}

h3{
    color:#ffffff;
    font-size:28px;
    line-height:42px;
}
